body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    height: 100vh;
    color: #ffffff;
    background: rgb(160,30,144);
    background: linear-gradient(0deg, rgba(160,30,144,1) 0%, rgba(140,31,149,1) 27%, rgba(60,33,170,0.9093837364047181) 68%, rgba(54,33,172,0) 100%);
    padding: 0;
    margin: 0;
}

@import '_variables';
@import '_header';
@import '_section-consolas';

///////////////////////////

// device sizes
// mobile 320px -> 767px
// Tablet 768px -> 1200px
// Desktop 1201px -> full

///////////////////////////